.index {
  padding: 16px 0;
  .searchbar {

  }
  .tabs {
    margin-top: 16px;
    .tab-content {
      .scroll-view {
        height: 90vh;
      }
      .no-article {
        display: flex;
        justify-content: center;
        color: #666666;
        padding-top: 32px;
      }
    }
  }
}
