.article-detail {
  padding: 32px 0;
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #555555;
    margin-top: 24px;
    padding: 0 32px;
  }
  .img-wrapper {
    padding: 16px 32px;
    .img {
      width: 100%;
      height: 400px;
    }
  }
  .sub-info {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 32px;
    .info-item {
      margin-left: 24px;
      display: flex;
      align-items: center;
      .icon {
        display: flex;
        align-items: center;
      }
      .text {
        color: #999999;
        margin-left: 8px;
      }
    }
  }
  .content {
    padding: 32px 0;
  }
}
